.cor-navbar {
  background-color: #8a0808;
  overflow: hidden;
  height: 50px;
}
.container-central {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.circulo-imagem {
    margin: 5%;
    border-radius: 100%;
    width: 25vw;
    height: auto;
}
.circulo-imagem:hover {
    box-shadow: 0px 0px 20px #8a0808;
    transition: 0.5s;

}